@import '../../styles/variables.scss';

.openExampleCard-container {
	border-radius: 10px;
	padding: 20px;
	margin: 10px 10px 10px 0;

	&.exampleInactive {
		color: gray;
	}

	.languageStyle {
		padding: 5px;
		margin-bottom: 5px;
		width: 40%;
		min-width: 62px;
		border-radius: 5px;
		text-align: center;
	}

	.languageStyle1 {
		background-color: $language-color-1;
	}

	.languageStyle2 {
		background-color: $language-color-2;
		color: white;
	}

	.languageStyle3 {
		background-color: $language-color-3;
		color: white;
	}
	
	.comment {
		border: 1px solid $gray-color;
	}
}