@import '../../styles/variables.scss';

.categoryInfo-container {
	p {
		font-weight: bold;

		.content {
			font-weight: normal;
		}
	}

	.description {
		font-size: 1.2em;
		margin-bottom: 20px;
	}

	.fa {
		padding-right: 5px;
	}

	.alternativeNames,
	.siblingCategories,
	.subCategories,
	.relatedCategories {
		.thisCategory {
			display: none;
		}
		
		.content span {
			&:after {
				content: ', ';
			}

			&:last-child:after {
				content: '';
			}
		}
	}

	.alternativeNames,
	.relatedCategories,
	.parentCategory,
	.siblingCategories,
	.subCategories {
		width: 60%;
		margin: 0px 0px 0px 50px;

	}

	.editButton,
	.deleteButton,
	.submitButton,
	.cancelButton {
		border: 3px solid $gray-color;
		background: none;
		border-radius: 10px;
		padding: 10px 20px;
		margin-right: 20px;

		&:hover {
			border-color: black;
		}
	}

	.editButton {
		margin-left: 50px;
	}
}