//
// Variables
//

$header-color: #81cfe0;
$sidebar-color: #e6f5f9;
$gray-color: #c8c8c8;
$language-color-1: orange;
$language-color-2: purple;
$language-color-3: blue;

$header-height: 85px;
$sidebar-width-closed: 70px;
$sidebar-width-opened: 250px;