@import '../../styles/variables.scss';

header {
	top: 0;
	background-color: $header-color;
	height: $header-height;
}

#logo {
	display: inline-block;
	margin-left: 0;

	h1 {
		font-family: 'Unica One', cursive;
		font-size: 2.25em;
		line-height: 2.25em;
	}
}

#login {
	width: 75px;
	float: right;
	margin-top: 20px;
}

#searchBar {
	margin-left: 0;
	width: 50%;
	float: right;
	margin-top: 20px;

	form {
		padding-left: 30px;
	}
	
	input {
		font-style: italic;
		width: 90%;
		height: 25px;
		padding-left: 18px;
	}

	.fa-search {
		float: right;
		font-size: 1.15em;
	}

	button {
		margin-left: -33px;
		border: 0;
		background: 0;
	}
}

.fa-user {
	margin-left: 5px;
}

@media screen and (max-width: 675px) {
	header .row {
		margin-left: -90px;
	}

	header input {
		width: 80%;
	}
}
