@import '../../styles/variables.scss';

.page-container {
	#categories {
		z-index: 9999;
		// width: 24%;
		// float: left;
	}

	#content {
		// width: 75%;
		float: right;
		width: 100%;
		min-height: calc(100vh - 250px);
	}
}

