@import '../../styles/variables.scss';

.examples-container {
	width: 100%;

	.syntax,
	.example {
		display: inline-block;
		vertical-align: top;
	}

	.numLanguages-1 .syntax,
	.numLanguages-1 .example {
		width: 100%;
	}

	.numLanguages-2 .syntax,
	.numLanguages-2 .example {
		width: 50%;
	}

	.numLanguages-3 .syntax,
	.numLanguages-3 .example {
		width: 30%;
	}

}