@import '../../styles/variables.scss';
// 85px is the $header-height
// 14px is the height adjustment
$sidebar-height: calc(100vh - 85px);
$sidebar-height-adjustment: -14px;
$sidebar-height-2: calc(100vh - (85px + 14px));

.categoriesSidebar-container {
	&.hide {
		display: block !important;
		
		#showCategories {
			display: inline-block;
		}

		.categoriesList {
			display: none;
		}
	}

	#showCategories {
		display: none;
		margin: 0;
		transform-origin: 0% 0%;
		transform: rotate(270deg);
		position: absolute;
		top: $sidebar-height;
		left: 0;
		width: $sidebar-height;
		height: $sidebar-width-closed;
		text-align: right;
		background-color: $sidebar-color;
		padding: 0 20px;
		border: 0;

		.fa {
			padding: 0 18px 0 18px;
		}
	}

	.categoriesList {
		display: inline-block;
		background-color: $sidebar-color;
		padding: 10px;
		position: absolute;
		width: $sidebar-width-opened;
		top: 0;
		left: 0;
		overflow: scroll;
		height: $sidebar-height;
	}
}

@media screen and (max-width: 991px) {
	.categoriesSidebar-container {
		#showCategories {
			top: $sidebar-height-2;
		}

		.categoriesList {
			top: 0 + $sidebar-height-adjustment;
		}
	}
}